 * {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin: 0;
 }

  html{
    scroll-behavior: smooth;
    background: linear-gradient(to right, #190095, #2a0000);
    
    
  }
 body,body>div {
   height: fit-content;
    overflow: hidden;
    color: white;
 }

  a {
    color-scheme: dark;
  }

  footer{
    text-shadow: #ffffff 0px 0px 10px;
    font-size: 20px;
  }
 #container {
  
    display: flex;
   flex-direction: column;
 }

 #hello{
  font-size: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ef5350, #f48fb1, #553e7c, #cc00ff, #11e3ff, #fdffa1, #eeff41, #ff9d00, #ff3c00);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    text-shadow: #ffffff 0px 0px 10px;
 }

 #container>div {
  align-items: center;
  text-align: center;
   border:#000000 4px dotted;
    border-color: #0048ff;
    border-radius: 10px;
    margin: 1%;
    background: linear-gradient(to right, #434343, #000000);
 }

  #blockContainer>div {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
  }

 #navbar {
   width: 100%;
   justify-content: space-evenly;
   display: flex;
    flex-direction: row;
    text-align: center;
    border: #ffffff 4px solid;
    outline: rgb(0, 0, 0) 4px solid;
    box-shadow: #ff0000 0px 0px 10px;
    outline-style: fill;
    outline-offset: -2px;
    outline-width: fit-content;
    text-shadow: #ffffff 0px 0px 10px;
      font-size: 20px;
 }

 #main-section {
   flex-grow: 1;
 }

 #main-section>div {
   width: 100%;
   display: flex;
  height: 500px;
  
   justify-content: center;
 }

 .red {
   background: linear-gradient(to right, #ff3564, #ff5031);
   color: white;
  height: 500px;
 }

 .blue {
   background: linear-gradient(to right, #00c6ff, #0072ff);
   color: white;
  height: 500px;
 }

 .home {
    background: linear-gradient(to right, #f85663, #ffa11e);
    color: white;
    height: 500px;
 }

 .purple{
  background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    height: 500px;
 }

 .black{
  background: linear-gradient(to right, #000000, #434343);
    color: white;
    height: 500px;
 }